name: json README Generator

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */10 * * *'

permissions:
  contents: 'write'
  issues: 'write'

jobs:
  generate-json-readme:
    runs-on: ubuntu-latest
    if: github.event_name == 'schedule' && github.event.schedule == '0 */10 * * *' || github.event_name != 'schedule'
    steps:
      - uses: actions/checkout@main
      - name: generate json README
        uses: yeshan333/yaml-readme@master
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          pattern: 'items/*/*.yaml'
          username: "github-actions[bot]"
          org: yeshan333
          repo: awesome-tech-weekly-zh
          sortby: kind
          groupby: kind
          header: false
          template: 'template/README.json.tpl'
          output: 'README.json'
          push: true