name: readme generator

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main

      - name: generate chinese readme
        uses: yeshan333/yaml-readme@master
        env:
          GH_TOKEN: ${{ secrets.GH_SECRETS }}
        with:
          pattern: 'items/*/*.yaml'
          template: 'template/README.tpl'
          output: 'README.md'
          username: "yeshan333"
          org: yeshan333
          repo: awesome-tech-weekly-zh
          sortby: kind
          groupby: kind
          header: false
          push: true
  
      - name: generate english readme
        uses: yeshan333/yaml-readme@master
        env:
          GH_TOKEN: ${{ secrets.GH_SECRETS }}
        with:
          pattern: 'items/*/*.yaml'
          username: "yeshan333"
          org: yeshan333
          repo: awesome-tech-weekly-zh
          sortby: kind
          groupby: kind
          header: false
          template: 'template/README-en.tpl'
          output: 'resources/README-en.md'
          push: true