name: README Generator

on:
  push:
    branches: [ main ]
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

permissions:
  contents: 'write'
  issues: 'write'

jobs:
  generate-md-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - name: generate zh-hans README
        uses: yeshan333/yaml-readme@master
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          pattern: 'items/*/*.yaml'
          template: 'template/README.tpl'
          output: 'README.md'
          username: "github-actions[bot]"
          org: yeshan333
          repo: awesome-tech-weekly-zh
          sortby: kind
          groupby: kind
          header: false
          push: false
      - name: generate english README
        uses: yeshan333/yaml-readme@master
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          pattern: 'items/*/*.yaml'
          username: "github-actions[bot]"
          org: yeshan333
          repo: awesome-tech-weekly-zh
          sortby: kind
          groupby: kind
          header: false
          template: 'template/README-en.tpl'
          output: 'resources/README-en.md'
          push: true
